* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  overflow: hidden;
  background: linear-gradient(#cb356b, #bd3f32);
}

.app {
  background: #fff;
  padding: 20px;
  width: 600px;
  margin: 0 auto;
  box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.14),
    0px 0px 0px 0px rgba(0, 0, 0, 0.12) 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.app__header {
  padding: 20px;
  text-align: center;
}

.app__content {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.btn {
  position: absolute;
  z-index: 1;
  display: inline-block;
  padding: 1rem 2.3rem;
  margin-bottom: 0;
  font-weight: normal;
  font-style: 1rem;
  line-height: 1.3rem;
  text-align: center;
  white-space: normal;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-color: #fad64e;
  color: #3f3f3f;
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
  transition: all .1s linear;
}

.btn:hover {
  scale: 1.1;
  box-shadow: 1px 3px 6px 2px rgba(43, 42, 42, 0.807);
}

.app__footer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input label {
  display: inline-block;
  min-width: 100%;
  margin-bottom: 3px;
  font-size: .8rem;
  color: #acacac;
  font-weight: normal;
  line-height: 1.2rem;
}


.input input {
  display: block;
  width: 100px;
  min-height: 2.8rem;
  padding: 0.8rem 1rem;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4;
  color: #000;
  background: #fff none;
  border: 1px solid #999;
  border-radius: 5px;
}

.game {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  background-color: rgb(224, 224, 224);
  min-height: 300px;
  min-width: 300px;
  max-width: 300px;
  max-height: 300px;
}

.hide {
  display: none!important;
}
